@font-face {
    font-family: Monument;
    src: url('./assets/fonts/MonumentExtended-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monument";
}

html,
body {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

#loader h3 {
    opacity: 0;
}

.img-container {
    position: relative;
    width: 30%;
    margin-left: 35%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: 42%;
    background-repeat: no-repeat;
    z-index: 99999;
    cursor: pointer;
}

#one-img {
    background-image: url('./assets/imgs/one.jpg');
}

#two-img {
    background-image: url('./assets/imgs/two.jpg');
}

#three-img {
    background-image: url('./assets/imgs/three.jpg');
}

#four-img {
    background-image: url('./assets/imgs/four.jpg');
}

#five-img {
    background-image: url('./assets/imgs/five.jpg');
}